{%extends 'base.html'%}

{%block body%}

<h2>Alle Gäste</h2>

<a href="/gaeste/add" class="btn btn-outline-info">➕ Add New Gast</a>

<table class="table">
  <thead>
    <tr>
      <th scope="col">GastId</th>
      <th scope="col">Nachname</th>
      <th scope="col">Vorname</th>
      <th scope="col">Alter</th>
      <th scope="col">Begleitung</th>
    </tr>
  </thead>
  <tbody>

    {% for gast in gaeste %}
    <tr>
      <td>{{gast.GastId}}</td>
      <td>{{gast.Nachname}}</td>
      <td>{{gast.Vorname}}</td>
      <td>{{gast.Lebensalter}}</td>
      <td>{{gast.Begleitung}}</td>
      <td>
        <a class="btn btn-outline-warning" href="/gaeste/edit?GastId={{gast.GastId}}">✏️</a>
        <form action="/gaeste/delete" method="post" style="display: inline;">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
          <input type="hidden" name="GastId" id="GastId" value="{{gast.GastId}}">
          <a class="btn btn-outline-danger" href="#" onclick="deleteGast(this); return false;">🗑️</a>
        </form>
      </td>
    </tr>
    {% endfor %}

  </tbody>
</table>

{%endblock%}