{%extends 'base.html'%}

{%block body%}

<h2>Alle Abendveranstaltungen</h2>

<a href="/abendveranstaltungen/add" class="btn btn-outline-info">➕ Add New Abendveranstaltung</a>

<table class="table">
  <thead>
    <tr>
      <th scope="col">AbentveranstaltungId</th>
      <th scope="col">Datum</th>
      <th scope="col">Tische</th>
      <th scope="col">Sessel(Tische x 4)</th>
      <th scope="col">Musik</th>
    </tr>
  </thead>
  <tbody>

    {% for abendveranstaltung in abendveranstaltungen %}
    <tr>
      <td>{{abendveranstaltung.AbendveranstaltungId}}</td>
      <td>{{abendveranstaltung.Datum}}</td>
      <td>{{abendveranstaltung.Tische}}</td>
      <td>{{abendveranstaltung.Sessel}}</td>
      <td>{{abendveranstaltung.Musik}}</td>
      <td>
        <a class="btn btn-outline-warning"
          href="/abendveranstaltungen/edit?AbendveranstaltungId={{abendveranstaltung.AbendveranstaltungId}}">✏️</a>
        <form action="/abendveranstaltugen/delete" method="post" style="display: inline;">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
          <input type="hidden" name="AbendveranstaltungId" id="AbendveranstaltungId"
            value="{{abendveranstaltung.AbendveranstaltungId}}">
          <a class="btn btn-outline-danger" href="#" onclick="deleteAbendveranstaltungen(this); return false;">🗑️</a>
        </form>
      </td>
    </tr>
    {% endfor %}

  </tbody>
</table>

{%endblock%}