{%extends 'base.html'%}

{%block body%}

<h2>Edit Abendveranstaltung</h2>

<form method="post">
    {{form.csrf_token}}

    <div class="mb-3">
        <label for="AbendveranstaltungId" class="form-label">AbendveranstaltungId</label>
        {{form.AbendveranstaltungId(class_="form-control")}}
    </div>

    <div class="col-md-4 mb-3">
        <label for="Datum" class="form-label">Datum</label>
        {{form.Datum(class_="form-control")}}
    </div>

    <div class="col-md-4 mb-3">
        <label for="Tische" class="form-label">Tische</label>
        {{form.Tische(class_="form-control")}}
    </div>

    <div class="col-md-4 mb-3">
        <label for="Sessel" class="form-label">Sessel(Tische x 4)</label>
        {{form.Sessel(class_="form-control")}}
    </div>

    <div class="col-md-4 mb-3">
        <label for="Musik" class="form-label">Musik</label>
        {{form.Musik(class_="form-control")}}
    </div>

    <button type="submit" class="btn btn-primary">Hinzufügen</button>
</form>


{%endblock%}