{%extends 'base.html'%}

{%block body%}

<h2>Add neuen Gast</h2>

<form method="post">
    {{form.csrf_token}}

    <!-- {{ form.errors }} -->

    <form class="needs-validation" novalidate>
          <div class="col-md-4 mb-3">
            <label for="validationCustom01">Nachname</label>
            <input type="text" class="form-control"  required>
          </div>



    <div class="col-md-4 mb-3">
        <label for="nachname" class="form-label">Nachname</label>
        <input type="text" class="form-control"  required>
    </div>

    <div class="col-md-4 mb-3">
        <label for="vorname" class="form-label">Vorname</label>
        <input type="text" class="form-control"  required>
    </div>

    <div class="col-md-4 mb-3">
        <label for="alter" class="form-label">Alter</label>
        <input type="number" class="form-control"  required>

    </div>

     <div class="col-md-4 mb-3">
        <label for="begleitung" class="form-label">Begleitung</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
          <label class="form-check-label" for="exampleRadios1">
            None
          </label>
        </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
      <label class="form-check-label" for="exampleRadios1">
        1
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
      <label class="form-check-label" for="exampleRadios2">
        2
      </label>
    </div>

    <button href="/gäste" type="button" class="btn btn-outline-success">Hinzufügen</button>

</form>

{%endblock%}

