{%extends 'base.html'%}

{%block body%}


<h2>Alle Reservationsmitarbeiter</h2>

<a href="/reservationsmitarbeiter/add" class="btn btn-info">➕ Add New Reservationsmitarbeiter</a> 

<table class="table">
  <thead>
    <tr>
      <th scope="col">MitarbeiterId</th>
      <th scope="col">Nachname</th>
      <th scope="col">Vorname</th>
      <th scope="col">Arbeitszeit</th>
      <th scope="col">Lohn</th>
    </tr>
  </thead>

</table>
<tbody>

  {% for reservationsmitarbeiter in reservationsmitarbeiter %}
  <tr>
    <td>{{reservationsmitarbeiter.MitarbeiterId}}</td>
    <td>{{reservationsmitarbeiter.Nachname}}</td>
    <td>{{reservationsmitarbeiter.vorname}}</td>
    <td>{{reservationsmitarbeiter.Arbeitszeit}}</td>
    <td>{{reservationsmitarbeiter.Lohn}}</td>
  </tr>
  {% endfor %}

</tbody>
</table>




{%endblock%}

