{%extends 'base.html'%}

{%block body%}


<h2>Alle Reservationsmitarbeiter</h2>

<a href="/reservationsmitarbeiter/add" class="btn btn-outline-info">➕ Add New Reservationsmitarbeiter</a>

<table class="table">
  <thead>
    <tr>
      <th scope="col">MitarbeiterId</th>
      <th scope="col">Nachname</th>
      <th scope="col">Vorname</th>
      <th scope="col">Arbeitszeit</th>
      <th scope="col">Lohn in €/h</th>
    </tr>
  </thead>
  <tbody>

    {% for reservationsmitarbeiter in reservationsmitarbeiter %}
    <tr>
      <td>{{reservationsmitarbeiter.MitarbeiterId}}</td>
      <td>{{reservationsmitarbeiter.Nachname}}</td>
      <td>{{reservationsmitarbeiter.Vorname}}</td>
      <td>{{reservationsmitarbeiter.Arbeitszeit}}</td>
      <td>{{reservationsmitarbeiter.Lohn}}</td>
      <td>
        <a class="btn btn-outline-warning"
          href="/reservationsmitarbeiter/edit?MitarbeiterId={{reservationsmitarbeiter.MitarbeiterId}}">✏️</a>
        <form action="/reservationsmitarbeiter/delete" method="post" style="display: inline;">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
          <input type="hidden" name="MitarbeiterId" id="MitarbeiterId"
            value="{{reservationsmitarbeiter.MitarbeiterId}}">
          <a class="btn btn-outline-danger" href="#"
            onclick="deleteReservationsmitarbeiter(this); return false;">🗑️</a>
        </form>
      </td>
    </tr>
    {% endfor %}

  </tbody>
</table>

{%endblock%}